<%= form_for [@ticket, @comment] do |f| %>
  <strong>New comment</strong>
  <%= f.error_messages %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  
  <% authorized?(:"change states", @project) do %>
    <p>
      <%= f.label :state_id %>
      <%= f.select :state_id, @states.map { |s| [s.name, s.id] },
                              :selected => @ticket.state_id   %>
    </p>
  <% end %>
  
  <%= render "tags/form" %>
  
  <%= f.submit %>
<% end %>