== ADD YOUR REPLY ABOVE THIS LINE ==

<img src='http://ticketeeapp.com/images/logo.png' alt='Ticketee' />

<p>
  Hello.
</p>

<p>
  <%= @comment.user %> has just updated the <%= @comment.ticket.title %> ticket for <%= @comment.ticket.project.name %>.
</p>

<p>
  They wrote:
</p>

<blockquote><%= @comment.text %></blockquote>

<p>
  You can <%= link_to "view this ticket online here", 
    project_ticket_url(@comment.ticket.project, @comment.ticket) %>
</p>