<%= form_for [@project, @ticket] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <%= render "tags/form" %>
  
  <% number = 0 %>
  <div id='files'>
    <%= f.fields_for :assets, :child_index => number do |asset| %>
      <p>
        <%= asset.label :asset, "File ##{number += 1}" %>
        <%= asset.file_field :asset %>
      </p>
    <% end %>
  </div>
  <%= link_to "Add another file", 'javascript:', :id => "add_another_file" %>
  <%= f.submit %>
<% end %>