<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  
  <%= authorized?("edit tickets", @project) do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <% end %>

  <%= authorized?("delete tickets", @project) do %>
    <%= link_to "Delete Ticket", 
                project_ticket_path(@project, @ticket), 
                :method => :delete, 
                :confirm => "Are you sure you want to delete this ticket?" %>
  <% end %>

  <small>Created by <%= @ticket.user.email %></small>
  <%= simple_format(@ticket.description) %>

  <% if @ticket.asset.exists? %>
    <h3>Attached File</h3>
    <div class="asset">
      <p>
        <%= link_to File.basename(@ticket.asset.path), 
        @ticket.asset.url %>
      </p>
      <p>
        <small><%= number_to_human_size(@ticket.asset.size) %>
       (<%= @ticket.asset.content_type %>)</small>
      </p>
    </div>
  <% end %>
</div>