<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  
  <%= authorized?("edit tickets", @project) do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <% end %>

  <%= authorized?("delete tickets", @project) do %>
    <%= link_to "Delete Ticket", 
                project_ticket_path(@project, @ticket), 
                :method => :delete, 
                :confirm => "Are you sure you want to delete this ticket?" %>
  <% end %>

  <br><small>Created by <%= @ticket.user.display_name %></small>
  <%= render @ticket.state if @ticket.state %>
  <%= simple_format(@ticket.description) %>
  <div id='tags'><%= render @ticket.tags %></div>
  <% if @ticket.assets.exists? %>
    <h3>Attached Files</h3>
    <div class="assets">
      <% @ticket.assets.each do |asset| %>
        <p>
          <%= link_to File.basename(asset.asset_file_name), asset.asset.url %>
        </p>
        <p>
          <small><%= number_to_human_size(asset.asset.size) %></small>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<div id='watchers'>
  <%= toggle_watching_button %>
  <h4>Watchers</h4>
  <ul>
   <% @ticket.watchers.each do |watcher| %>
      <li><%= watcher %></li>
    <% end %>  
  </ul>
</div>

<h3>Comments</h3>
<div id='comments'>
  <% if @ticket.comments.exists? %> <co id='ch09_191_1' />
    <%= render @ticket.comments.select(&:persisted?) %>
  <% else %>
    There are no comments for this ticket.
  <% end %>
</div>

<%= render "comments/form" %>