<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  
  <%= authorized?("edit tickets", @project) do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <% end %>

  <%= authorized?("delete tickets", @project) do %>
    <%= link_to "Delete Ticket", 
                project_ticket_path(@project, @ticket), 
                :method => :delete, 
                :confirm => "Are you sure you want to delete this ticket?" %>
  <% end %>

  <%= debug @ticket.user %>
  <small>Created by <%= @ticket.user.email %></small>
  <%= simple_format(@ticket.description) %>
</div>