<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <%= link_to "Delete Ticket", [@project, @ticket], :method => :delete, 
               :confirm => "Are you sure you want to delete this ticket?" %>

  <%= debug @ticket.user %>
  <small>Created by <%= @ticket.user.email %></small>
  <%= simple_format(@ticket.description) %>
</div>