<!DOCTYPE html>
<html>
<head>
  <title>EdgeTicketee</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "projects" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %><indexterm><primary>Displaying flash messages</primary></indexterm>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
